
data/현황/강원도 삼척시_태양광발전설치현황_20201110.csv
data/현황/강원도 평창군_태양광발전 설치 현황_20200707..csv
data/현황/강원도_원주시_태양광 발전 설치 현황_20191205.csv
data/현황/경상남도 의령군 태양광 발전 설치현황_20200923.csv
data/현황/경상남도 함양군_태양광 발전 설치 현황_20191216..csv
data/현황/경상남도_남해군_태양광발전설치현황_20200821.csv
data/현황/경상남도_사천시_태양광발전설치현황_20191212..csv
data/현황/경상남도_양산시_태양광발전설치현황_20201118.csv
data/현황/경상남도_진주시_태양광발전설치현황_20181108.csv
data/현황/경상남도_창녕군_신재생에너지정보_태양광발전설치현황_20191107..csv
data/현황/경상남도_태양광발전설치현황__20181227.csv
data/현황/경상남도_통영시_태양광발전설치현황_20200818.csv
data/현황/경상남도_하동군 태양광 설치현황_20190909..csv
data/현황/경상북도_경산시_태양광 발전 설치현황_20190906..csv
data/현황/경상북도_군위군_태양광 발전 설치현황_20181112..csv
data/현황/경상북도_봉화군_태양광발전설치현황_20200107..csv
data/현황/경상북도_예천군_태양광 발전 설치 현황_20201119.csv
data/현황/경상북도_울진군_태양광 발전 설치현황_20191227..csv
data/현황/경상북도_청송군_태양광발전설치현황_20200921.csv
data/현황/광주광역시_광산구_태양광발전설치현황_20200403..csv
data/현황/서울특별시 서초구_태양광 발전 설치 현황_20181109.csv
data/현황/서울특별시 송파구_태양광발전설치현황_20200910.csv
data/현황/서울특별시 영등포구_태양광발전 설치 현황_20191101.csv
data/현황/인천광역시 동구_태양광발전설비현황_20200730.csv
data/현황/인천광역시_남동구_태양광발전설치현황_20200918.csv
data/현황/전라남도_광양시_태양광발전 설치 현황_20200918.csv
data/현황/전라남도_보성군_태양광 발전 설치현황_20200409.csv
data/현황/전라남도_신안군_태양광 발전설치 현황_20190822..csv
data/현황/충청남도 논산시_신재생에너지현황_20201030.csv
data/현황/충청남도 보령시 태양광발전설치현황_20200410..csv
data/현황/충청남도 아산시 태양광발전 설치 현황_20200717.csv
data/현황/충청남도 천안시_전기사업(태양광발전) 설치현황_2020.3.31...csv
data/현황/충청남도_홍성군_태양광발전설치현황_20200401.csv
data/현황/태양광발전 현황_20200331..csv
data/발전량/한국동서발전_태양광 발전량 현황(2016_2018).csv
data/발전량/한국동서발전(주)_태양광 발전량 현황_20200701.csv
data/발전량/한국동서발전 호남 태양광 발전량 현황(2015_2019).csv
data/발전량/한국동서발전 태양광 일별 발전량 현황(2014_2018).csv
data/발전량/한국동서발전 태양광 설치현황 정보(2019).csv
data/발전량/한국동서발전 시간대별 태양광 발전량 현황(2015_2017).csv
data/발전량/한국남부발전_부산.csv
data/발전량/한국남동발전㈜_태양광 발전 실적_20181231.csv
data/발전량/한국남동발전㈜_태양광 발전 시간대별 발전량(탑선)_20200630.csv
data/발전량/한국남동발전㈜_태양광 발전 시간대별 발전량(탕정)_20191225.csv
.ipynb_checkpoints/EDA_부산-checkpoint.ipynb
.ipynb_checkpoints/preprocess-checkpoint.ipynb
.ipynb_checkpoints/preprocess_부산-checkpoint.ipynb
data/동해/public_data_24_3.hwp
data/발전량/한국남동발전㈜_신재생 에너지 설비 용량_정보_20191231.csv
data/발전량/한국남동발전㈜_영흥도 기상 관측_현황_20181231.csv
data/발전량/한국남동발전㈜_태양광 발전 시간대별 발전량(경상대)_20200630.csv
data/발전량/한국남동발전㈜_태양광 발전 시간대별 발전량(광방향 세방)_20200630.csv
data/발전량/한국남동발전㈜_태양광 발전 시간대별 발전량(구미)_20200531.csv
data/발전량/한국남동발전㈜_태양광 발전 시간대별 발전량(두산MG)_20200630.csv
data/발전량/한국남동발전㈜_태양광 발전 시간대별 발전량(본사사옥)_20200531.csv
data/발전량/한국남동발전㈜_태양광 발전 시간대별 발전량(삼천포.csv
data/발전량/한국남동발전㈜_태양광 발전 시간대별 발전량(삼천포5).csv
data/발전량/한국남동발전㈜_태양광 발전 시간대별 발전량(여수)_20200630.csv
data/발전량/한국남동발전㈜_태양광 발전 시간대별 발전량(영동)_20200630.csv
data/발전량/한국남동발전㈜_태양광 발전 시간대별 발전량(영흥 (1).csv
data/발전량/한국남동발전㈜_태양광 발전 시간대별 발전량(영흥.csv
data/발전량/한국남동발전㈜_태양광 발전 시간대별 발전량(예천)_20200630.csv
data/[5.0km][3년][세종시][한국서부발전_세종]/OBS_ASOS_DD_20201122202227.csv
data/[5.0km][3년][세종시][한국서부발전_세종]/한국서부발전(주)_세종.csv
data/[5.4km][반년][경상남도_진주시][한국남동발전_경상대]/OBS_ASOS_DD_20201122201108.csv
data/[5.4km][반년][경상남도_진주시][한국남동발전_경상대]/한국남동발전㈜_태양광 발전 시간대별 발전량(경상대)_20200630.csv
data/[8.1km][반년][강원도_강릉시_강동면][한국남동발전_영동]/OBS_ASOS_DD_20201122194010.csv
data/[8.1km][반년][강원도_강릉시_강동면][한국남동발전_영동]/한국남동발전㈜_태양광 발전 시간대별 발전량(영동)_20200630 (1).csv
data/한국남동발전㈜_태양광 발전 시간대별 발전량(본사사옥)_20200531 (2).csv
.ipynb_checkpoints/부산본부_EDA-checkpoint.ipynb
data/[5.0km][3년][세종시][한국서부발전_세종]/OBS_ASOS_DD_20201122202227.csv
data/[5.0km][3년][세종시][한국서부발전_세종]/한국서부발전(주)_세종.csv
data/[5.4km][반년][경상남도_진주시][한국남동발전_경상대]/OBS_ASOS_DD_20201122201108.csv
data/[5.4km][반년][경상남도_진주시][한국남동발전_경상대]/한국남동발전㈜_태양광 발전 시간대별 발전량(경상대)_20200630.csv
data/[8.1km][반년][강원도_강릉시_강동면][한국남동발전_영동]/OBS_ASOS_DD_20201122194010.csv
data/[8.1km][반년][강원도_강릉시_강동면][한국남동발전_영동]/한국남동발전㈜_태양광 발전 시간대별 발전량(영동)_20200630 (1).csv
data/[5.0km][3년][세종시][한국서부발전_세종]/OBS_ASOS_DD_20201122202227.csv
data/[5.0km][3년][세종시][한국서부발전_세종]/OBS_ASOS_DD_20201122202227.csv
data/[5.0km][3년][세종시][한국서부발전_세종]/한국서부발전(주)_세종.csv
data/[5.4km][반년][경상남도_진주시][한국남동발전_경상대]/OBS_ASOS_DD_20201122201108.csv
data/[5.4km][반년][경상남도_진주시][한국남동발전_경상대]/한국남동발전㈜_태양광 발전 시간대별 발전량(경상대)_20200630.csv
data/[8.1km][반년][강원도_강릉시_강동면][한국남동발전_영동]/OBS_ASOS_DD_20201122194010.csv
data/[8.1km][반년][강원도_강릉시_강동면][한국남동발전_영동]/한국남동발전㈜_태양광 발전 시간대별 발전량(영동)_20200630 (1).csv
data/[5.0km][3년][세종시][한국서부발전_세종]/OBS_ASOS_DD_20201122202227.csv
data/[5.0km][3년][세종시][한국서부발전_세종]/OBS_ASOS_DD_20201122202227.csv
data/[5.0km][3년][세종시][한국서부발전_세종]/한국서부발전(주)_세종.csv
data/[5.4km][반년][경상남도_진주시][한국남동발전_경상대]/OBS_ASOS_DD_20201122201108.csv
data/[5.4km][반년][경상남도_진주시][한국남동발전_경상대]/한국남동발전㈜_태양광 발전 시간대별 발전량(경상대)_20200630.csv
data/[8.1km][반년][강원도_강릉시_강동면][한국남동발전_영동]/OBS_ASOS_DD_20201122194010.csv
data/[8.1km][반년][강원도_강릉시_강동면][한국남동발전_영동]/한국남동발전㈜_태양광 발전 시간대별 발전량(영동)_20200630 (1).csv
data/[5.0km][3년][세종시][한국서부발전_세종]/OBS_ASOS_DD_20201122202227.csv
.ipynb_checkpoints/시각화(이주영)-checkpoint.ipynb
.ipynb_checkpoints/부산복합자재창고(유승우)-checkpoint.ipynb
.ipynb_checkpoints/부산복합자재창고_preprocess-checkpoint.ipynb
.ipynb_checkpoints/부산본부_preprocess-checkpoint.ipynb
.ipynb_checkpoints/부산복합자재창고_EDA-checkpoint.ipynb
